
$color_2: #34515e;
$color_3: #263238;
$color_4: #ffffff;
$color_5: white;
$color_6: #cfcfcf;
$color_7: #707070;
$color_8: #fff;
$color_9: #8d8d8d;
$color_10: #d32f2f;
$font-family_1: var(--font-family);
$background-color_1: #ECEFF1;
$background-color_2: #D32F2F;
$background-color_3: #8EACBB;
$background-color_4: #ffffff;
$background-color_5: #8d8d8d;